
body {
    background-color: #ffedcf;
    font-family: "Kanit", "sans-serif";
    font-weight: 500;
}

#frame {
    border: 5px solid #dfcfb1;
    margin: 0 auto;
    width: 90vw;
}

#calculator {
    background-color: #44443c;
    border: 1px solid #44443c;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.9vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    padding: 0.6vw;
    padding-bottom: 1.5vw;
    width: 20vw;
}

button {
    border-radius: 12px;
    border-width: 0px;
    color: #e9e2d5;
    cursor: pointer;
    font-family: "Kanit", "sans-serif";
    font-size: 1.75rem;
    margin: 0.15vw;
}

#display-container {
    background-color: #44443c;
    display: flex;
    flex-flow: column;
    height: 18vw;
    justify-content: end;
    width: 20vw;
}

#bottom-left {
    display: flex;
    flex-wrap: wrap;
    width: 15vw;
}

.purple {
    background-color: #624bea;
    transition: background-color 0.2s 0s;
}

.purple:hover {
    background-color: #7763eb;
}

button {
    font-size: 2.5rem;
    font-variant-position: super;
    height: 4vw;
    width: 4.7vw;
}

#top {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 20vw;
}

.pink {
    background-color: #e2819d;
    font-size: 3rem;
    height: 4vw;
    transition: background-color 0.2s 0s;
    width: 4.7vw;
}

.pink:hover {
    background-color: #e2a3b5;
}

.magenta{
    background-color: #ce78c6;
    transition: background-color 0.2s 0s;
}

.magenta:hover {
    background-color: #d49ecf;
}

#bottom-right {
    display: flex;
    flex-wrap: wrap;
    height: 4vw;
    width: 5vw;
}

#zero {
    width: 9.7vw;
}

.display-text {
    color: #e9e2d5;
    text-align: right;
}

#display {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 5rem;
    cursor: pointer;
}

#calculations-history {
    font-size: 1.5rem;
}

#link-container {
    display: flex;
    justify-content: center;
}

a {
    color: #9a8fff;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}
